title: dadamachines/docs
description: Here you find the documentation for dadamachines products.
remote_theme: just-the-docs/just-the-docs@v0.10.1

url: https://docs.dadamachines.com/

plugins:
  - jekyll-remote-theme

# Aux links for the upper right navigation
aux_links:
  "Forum":
    - "//forum.dadamachines.com/"

# Makes Aux links open in a new tab. Default is false
aux_links_new_tab: true

# Callouts
callouts_level: quiet # or loud
callouts:
  highlight:
    color: yellow
  important:
    title: Important
    color: blue
  new:
    title: New
    color: green
  note:
    title: Note
    color: purple
  warning:
    title: Warning
    color: red